### **Module 4: Merging, Joining, and Concatenating Data**
In machine learning and AI workflows, merging multiple datasets is a common task. This module teaches students how to combine datasets in Pandas.

#### **Topics:**
- **Concatenation:**
  - Stacking datasets on top of each other using `concat()`.
  
- **Merging:**
  - Combining datasets using `merge()` (similar to SQL joins: inner, outer, left, and right joins).
  
- **Joining DataFrames:**
  - Combining datasets using the `join()` method.

#### **Hands-on Lab:**
- Combine two datasets using `merge()` and explore different types of joins (inner, outer, etc.).
- Concatenate datasets vertically or horizontally using `concat()`.

---

### **Concatenation:**

Concatenation is used when stacking datasets either **vertically (row-wise)** or **horizontally (column-wise)**.

1. **Real-World Example 1 - Vertically Concatenating Sales Data from Multiple Regions:**

In [2]:
import pandas as pd

# Sales data for Region A and Region B
region_a = pd.DataFrame({
    'Month': ['Jan', 'Feb', 'Mar'],
    'Sales_A': [20000, 25000, 22000]
})

region_b = pd.DataFrame({
    'Month': ['Jan', 'Feb', 'Mar'],
    'Sales_B': [18000, 24000, 21000]
})

# Concatenate vertically (stacking)
combined_sales = pd.concat([region_a, region_b], ignore_index=True)
print(combined_sales)

  Month  Sales_A  Sales_B
0   Jan  20000.0      NaN
1   Feb  25000.0      NaN
2   Mar  22000.0      NaN
3   Jan      NaN  18000.0
4   Feb      NaN  24000.0
5   Mar      NaN  21000.0

**Use Case:** In global sales dashboards, concatenating monthly or regional sales data for better aggregation.

2. **Real-World Example 2 - Horizontal Concatenation of User Profile Data:**

In [3]:
user_info = pd.DataFrame({
    'User_ID': [101, 102, 103],
    'Name': ['Alice', 'Bob', 'Charlie']
})

user_activity = pd.DataFrame({
    'User_ID': [101, 102, 103],
    'Last_Login': ['2025-01-01', '2025-01-10', '2025-01-12']
})

# Concatenate horizontally
user_data = pd.concat([user_info, user_activity.set_index('User_ID')], axis=1)
print(user_data)

     User_ID     Name  Last_Login
0      101.0    Alice         NaN
1      102.0      Bob         NaN
2      103.0  Charlie         NaN
101      NaN      NaN  2025-01-01
102      NaN      NaN  2025-01-10
103      NaN      NaN  2025-01-12

**Use Case:** Merging profile and activity logs for user analytics.

3. **Real-World Example 3 - Concatenating Data for Time Series Analysis:**

In [4]:
jan_data = pd.DataFrame({'Date': ['2025-01-01', '2025-01-02'], 'Revenue': [5000, 7000]})
feb_data = pd.DataFrame({'Date': ['2025-02-01', '2025-02-02'], 'Revenue': [8000, 9000]})

# Concatenate time-series data
time_series_data = pd.concat([jan_data, feb_data])
print(time_series_data)

         Date  Revenue
0  2025-01-01     5000
1  2025-01-02     7000
0  2025-02-01     8000
1  2025-02-02     9000

**Use Case:** Combining revenue data from different months for financial forecasting.

### **Merging (SQL-style Joins)**

`merge()` is used to **combine DataFrames** based on common **keys/columns**.

1. **Real-World Example 1 - Inner Join of Order and Customer Data:**

In [5]:
orders = pd.DataFrame({
    'Order_ID': [1, 2, 3],
    'Customer_ID': [101, 102, 103],
    'Amount': [250, 300, 150]
})

customers = pd.DataFrame({
    'Customer_ID': [101, 102, 104],
    'Customer_Name': ['Alice', 'Bob', 'David']
})

merged_data = pd.merge(orders, customers, on='Customer_ID', how='inner')
print(merged_data)

   Order_ID  Customer_ID  Amount Customer_Name
0         1          101     250         Alice
1         2          102     300           Bob

- **Output:** Only customers who placed orders are shown (`inner join`).
- **Use Case:** Generating reports for customers who completed transactions.

2. **Real-World Example 2 - Outer Join (Missing Data for Product Inventory):**

In [6]:
products = pd.DataFrame({
    'Product_ID': [1, 2, 3],
    'Product_Name': ['Laptop', 'Phone', 'Tablet']
})

inventory = pd.DataFrame({
    'Product_ID': [1, 3],
    'Stock_Available': [50, 30]
})

product_inventory = pd.merge(products, inventory, on='Product_ID', how='outer')
print(product_inventory)

   Product_ID Product_Name  Stock_Available
0           1       Laptop             50.0
1           2        Phone              NaN
2           3       Tablet             30.0

**Use Case:** Identifying missing stock levels for certain products.

3. **Real-World Example 3 - Left Join (Joining Employee Details with Salary):**

In [7]:
employees = pd.DataFrame({
    'Employee_ID': [1, 2, 3],
    'Employee_Name': ['John', 'Anna', 'Steve']
})

salaries = pd.DataFrame({
    'Employee_ID': [1, 2],
    'Salary': [70000, 80000]
})

employee_salary = pd.merge(employees, salaries, on='Employee_ID', how='left')
print(employee_salary)

   Employee_ID Employee_Name   Salary
0            1          John  70000.0
1            2          Anna  80000.0
2            3         Steve      NaN

**Use Case:** Displaying all employees even if they have missing salary data.

### **Join Method (`join()`):**

`join()` is typically used when joining DataFrames by their **index**.

1. **Real-World Example 1 - Joining City Data by Indices:**

In [8]:
city_population = pd.DataFrame({'City': ['New York', 'Los Angeles', 'Chicago'], 'Population': [8500000, 4000000, 2700000]})
city_codes = pd.DataFrame({'City_Code': ['NY', 'LA', 'CHI']}, index=[0, 1, 2])

combined_cities = city_population.join(city_codes)
print(combined_cities)

          City  Population City_Code
0     New York     8500000        NY
1  Los Angeles     4000000        LA
2      Chicago     2700000       CHI

**Use Case:** Creating a mapping of city codes for geo-location purposes.

2. **Real-World Example 2 - Joining Financial Metrics by Index:**

In [10]:
revenue = pd.DataFrame({'Revenue': [5000, 7000, 8000]}, index=['2025-01-01', '2025-01-02', '2025-01-03'])
expenses = pd.DataFrame({'Expenses': [2000, 3000, 2500]}, index=['2025-01-01', '2025-01-02', '2025-01-03'])

financials = revenue.join(expenses)
print(financials)

            Revenue  Expenses
2025-01-01     5000      2000
2025-01-02     7000      3000
2025-01-03     8000      2500

**Use Case:** Consolidating financial metrics for budget analysis.

### **Additional Real-World Scenarios:**

1. **Merging Survey Results Across Different Platforms:**

   Combine survey responses from `Google Forms`, `Typeform`, and `SurveyMonkey`:

In [11]:
google_forms = pd.DataFrame({'User': ['A', 'B', 'C'], 'Rating': [4, 5, 3]})
typeform = pd.DataFrame({'User': ['A', 'B'], 'Comments': ['Great', 'Good']})

survey_data = pd.merge(google_forms, typeform, on='User', how='outer')
print(survey_data)

  User  Rating Comments
0    A       4    Great
1    B       5     Good
2    C       3      NaN

2. **Combining Product Review Datasets with Concatenation and Merging:**

   If `Amazon`, `Flipkart`, and `eBay` provide separate CSV datasets, you can concatenate them vertically:

In [15]:
amazon_reviews = pd.DataFrame({'Review': ['Good', 'Bad'], 'Source': ['Amazon', 'Amazon']})
flipkart_reviews = pd.DataFrame({'Review': ['Average'], 'Source': ['Flipkart']})

all_reviews = pd.concat([amazon_reviews, flipkart_reviews])
display(all_reviews)

    Review    Source
0     Good    Amazon
1      Bad    Amazon
0  Average  Flipkart

3. **Merging Customer Demographic Data and Purchase Data for Analytics:**

In [16]:
customers = pd.DataFrame({'Customer_ID': [101, 102, 103], 'Age': [25, 30, 40]})
purchases = pd.DataFrame({'Customer_ID': [101, 103], 'Purchase_Amount': [500, 1000]})

customer_purchases = pd.merge(customers, purchases, on='Customer_ID', how='left')
display(customer_purchases)

   Customer_ID  Age  Purchase_Amount
0          101   25            500.0
1          102   30              NaN
2          103   40           1000.0